<%= form_with(model: zkb, local: true) do |form| %>
  <% if zkb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zkb.errors.count, "error") %> prohibited this zkb from being saved:</h2>

      <ul>
      <% zkb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :a1 %>
    <%= form.text_field :a1, id: :zkb_a1 %>
  </div>

  <div class="field">
    <%= form.label :a2 %>
    <%= form.text_field :a2, id: :zkb_a2 %>
  </div>

  <div class="field">
    <%= form.label :a3 %>
    <%= form.text_field :a3, id: :zkb_a3 %>
  </div>

  <div class="field">
    <%= form.label :a4 %>
    <%= form.text_field :a4, id: :zkb_a4 %>
  </div>

  <div class="field">
    <%= form.label :a5 %>
    <%= form.text_field :a5, id: :zkb_a5 %>
  </div>

  <div class="field">
    <%= form.label :a6 %>
    <%= form.text_field :a6, id: :zkb_a6 %>
  </div>

  <div class="field">
    <%= form.label :a7 %>
    <%= form.text_field :a7, id: :zkb_a7 %>
  </div>

  <div class="field">
    <%= form.label :a8 %>
    <%= form.text_field :a8, id: :zkb_a8 %>
  </div>

  <div class="field">
    <%= form.label :a9 %>
    <%= form.text_field :a9, id: :zkb_a9 %>
  </div>

  <div class="field">
    <%= form.label :a10 %>
    <%= form.text_field :a10, id: :zkb_a10 %>
  </div>

  <div class="field">
    <%= form.label :a11 %>
    <%= form.text_field :a11, id: :zkb_a11 %>
  </div>

  <div class="field">
    <%= form.label :a12 %>
    <%= form.text_field :a12, id: :zkb_a12 %>
  </div>

  <div class="field">
    <%= form.label :a13 %>
    <%= form.text_field :a13, id: :zkb_a13 %>
  </div>

  <div class="field">
    <%= form.label :a14 %>
    <%= form.text_field :a14, id: :zkb_a14 %>
  </div>

  <div class="field">
    <%= form.label :a15 %>
    <%= form.text_field :a15, id: :zkb_a15 %>
  </div>

  <div class="field">
    <%= form.label :a16 %>
    <%= form.text_field :a16, id: :zkb_a16 %>
  </div>

  <div class="field">
    <%= form.label :a17 %>
    <%= form.text_field :a17, id: :zkb_a17 %>
  </div>

  <div class="field">
    <%= form.label :a18 %>
    <%= form.text_field :a18, id: :zkb_a18 %>
  </div>

  <div class="field">
    <%= form.label :a19 %>
    <%= form.text_field :a19, id: :zkb_a19 %>
  </div>

  <div class="field">
    <%= form.label :a20 %>
    <%= form.text_field :a20, id: :zkb_a20 %>
  </div>

  <div class="field">
    <%= form.label :a21 %>
    <%= form.text_field :a21, id: :zkb_a21 %>
  </div>

  <div class="field">
    <%= form.label :a22 %>
    <%= form.text_field :a22, id: :zkb_a22 %>
  </div>

  <div class="field">
    <%= form.label :a23 %>
    <%= form.text_field :a23, id: :zkb_a23 %>
  </div>

  <div class="field">
    <%= form.label :a24 %>
    <%= form.text_field :a24, id: :zkb_a24 %>
  </div>

  <div class="field">
    <%= form.label :a25 %>
    <%= form.text_field :a25, id: :zkb_a25 %>
  </div>

  <div class="field">
    <%= form.label :a26 %>
    <%= form.text_field :a26, id: :zkb_a26 %>
  </div>

  <div class="field">
    <%= form.label :a27 %>
    <%= form.text_field :a27, id: :zkb_a27 %>
  </div>

  <div class="field">
    <%= form.label :a28 %>
    <%= form.text_field :a28, id: :zkb_a28 %>
  </div>

  <div class="field">
    <%= form.label :a29 %>
    <%= form.text_field :a29, id: :zkb_a29 %>
  </div>

  <div class="field">
    <%= form.label :a30 %>
    <%= form.text_field :a30, id: :zkb_a30 %>
  </div>

  <div class="field">
    <%= form.label :a31 %>
    <%= form.text_field :a31, id: :zkb_a31 %>
  </div>

  <div class="field">
    <%= form.label :a32 %>
    <%= form.text_field :a32, id: :zkb_a32 %>
  </div>

  <div class="field">
    <%= form.label :a33 %>
    <%= form.text_field :a33, id: :zkb_a33 %>
  </div>

  <div class="field">
    <%= form.label :a34 %>
    <%= form.text_field :a34, id: :zkb_a34 %>
  </div>

  <div class="field">
    <%= form.label :a35 %>
    <%= form.text_field :a35, id: :zkb_a35 %>
  </div>

  <div class="field">
    <%= form.label :a36 %>
    <%= form.text_field :a36, id: :zkb_a36 %>
  </div>

  <div class="field">
    <%= form.label :a37 %>
    <%= form.text_field :a37, id: :zkb_a37 %>
  </div>

  <div class="field">
    <%= form.label :a38 %>
    <%= form.text_field :a38, id: :zkb_a38 %>
  </div>

  <div class="field">
    <%= form.label :a39 %>
    <%= form.text_field :a39, id: :zkb_a39 %>
  </div>

  <div class="field">
    <%= form.label :a40 %>
    <%= form.text_field :a40, id: :zkb_a40 %>
  </div>

  <div class="field">
    <%= form.label :a41 %>
    <%= form.text_field :a41, id: :zkb_a41 %>
  </div>

  <div class="field">
    <%= form.label :a42 %>
    <%= form.text_field :a42, id: :zkb_a42 %>
  </div>

  <div class="field">
    <%= form.label :a43 %>
    <%= form.text_field :a43, id: :zkb_a43 %>
  </div>

  <div class="field">
    <%= form.label :a44 %>
    <%= form.text_field :a44, id: :zkb_a44 %>
  </div>

  <div class="field">
    <%= form.label :a45 %>
    <%= form.text_field :a45, id: :zkb_a45 %>
  </div>

  <div class="field">
    <%= form.label :a46 %>
    <%= form.text_field :a46, id: :zkb_a46 %>
  </div>

  <div class="field">
    <%= form.label :a47 %>
    <%= form.text_field :a47, id: :zkb_a47 %>
  </div>

  <div class="field">
    <%= form.label :a48 %>
    <%= form.text_field :a48, id: :zkb_a48 %>
  </div>

  <div class="field">
    <%= form.label :a49 %>
    <%= form.text_field :a49, id: :zkb_a49 %>
  </div>

  <div class="field">
    <%= form.label :a50 %>
    <%= form.text_field :a50, id: :zkb_a50 %>
  </div>

  <div class="field">
    <%= form.label :a51 %>
    <%= form.text_field :a51, id: :zkb_a51 %>
  </div>

  <div class="field">
    <%= form.label :a52 %>
    <%= form.text_field :a52, id: :zkb_a52 %>
  </div>

  <div class="field">
    <%= form.label :a53 %>
    <%= form.text_field :a53, id: :zkb_a53 %>
  </div>

  <div class="field">
    <%= form.label :a54 %>
    <%= form.text_field :a54, id: :zkb_a54 %>
  </div>

  <div class="field">
    <%= form.label :a55 %>
    <%= form.text_field :a55, id: :zkb_a55 %>
  </div>

  <div class="field">
    <%= form.label :a56 %>
    <%= form.text_field :a56, id: :zkb_a56 %>
  </div>

  <div class="field">
    <%= form.label :a57 %>
    <%= form.text_field :a57, id: :zkb_a57 %>
  </div>

  <div class="field">
    <%= form.label :a58 %>
    <%= form.text_field :a58, id: :zkb_a58 %>
  </div>

  <div class="field">
    <%= form.label :a59 %>
    <%= form.text_field :a59, id: :zkb_a59 %>
  </div>

  <div class="field">
    <%= form.label :a60 %>
    <%= form.text_field :a60, id: :zkb_a60 %>
  </div>

  <div class="field">
    <%= form.label :a61 %>
    <%= form.text_field :a61, id: :zkb_a61 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
