<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @zkb.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @zkb.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @zkb.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @zkb.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @zkb.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @zkb.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @zkb.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @zkb.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @zkb.a9 %>
</p>

<p>
  <strong>A10:</strong>
  <%= @zkb.a10 %>
</p>

<p>
  <strong>A11:</strong>
  <%= @zkb.a11 %>
</p>

<p>
  <strong>A12:</strong>
  <%= @zkb.a12 %>
</p>

<p>
  <strong>A13:</strong>
  <%= @zkb.a13 %>
</p>

<p>
  <strong>A14:</strong>
  <%= @zkb.a14 %>
</p>

<p>
  <strong>A15:</strong>
  <%= @zkb.a15 %>
</p>

<p>
  <strong>A16:</strong>
  <%= @zkb.a16 %>
</p>

<p>
  <strong>A17:</strong>
  <%= @zkb.a17 %>
</p>

<p>
  <strong>A18:</strong>
  <%= @zkb.a18 %>
</p>

<p>
  <strong>A19:</strong>
  <%= @zkb.a19 %>
</p>

<p>
  <strong>A20:</strong>
  <%= @zkb.a20 %>
</p>

<p>
  <strong>A21:</strong>
  <%= @zkb.a21 %>
</p>

<p>
  <strong>A22:</strong>
  <%= @zkb.a22 %>
</p>

<p>
  <strong>A23:</strong>
  <%= @zkb.a23 %>
</p>

<p>
  <strong>A24:</strong>
  <%= @zkb.a24 %>
</p>

<p>
  <strong>A25:</strong>
  <%= @zkb.a25 %>
</p>

<p>
  <strong>A26:</strong>
  <%= @zkb.a26 %>
</p>

<p>
  <strong>A27:</strong>
  <%= @zkb.a27 %>
</p>

<p>
  <strong>A28:</strong>
  <%= @zkb.a28 %>
</p>

<p>
  <strong>A29:</strong>
  <%= @zkb.a29 %>
</p>

<p>
  <strong>A30:</strong>
  <%= @zkb.a30 %>
</p>

<p>
  <strong>A31:</strong>
  <%= @zkb.a31 %>
</p>

<p>
  <strong>A32:</strong>
  <%= @zkb.a32 %>
</p>

<p>
  <strong>A33:</strong>
  <%= @zkb.a33 %>
</p>

<p>
  <strong>A34:</strong>
  <%= @zkb.a34 %>
</p>

<p>
  <strong>A35:</strong>
  <%= @zkb.a35 %>
</p>

<p>
  <strong>A36:</strong>
  <%= @zkb.a36 %>
</p>

<p>
  <strong>A37:</strong>
  <%= @zkb.a37 %>
</p>

<p>
  <strong>A38:</strong>
  <%= @zkb.a38 %>
</p>

<p>
  <strong>A39:</strong>
  <%= @zkb.a39 %>
</p>

<p>
  <strong>A40:</strong>
  <%= @zkb.a40 %>
</p>

<p>
  <strong>A41:</strong>
  <%= @zkb.a41 %>
</p>

<p>
  <strong>A42:</strong>
  <%= @zkb.a42 %>
</p>

<p>
  <strong>A43:</strong>
  <%= @zkb.a43 %>
</p>

<p>
  <strong>A44:</strong>
  <%= @zkb.a44 %>
</p>

<p>
  <strong>A45:</strong>
  <%= @zkb.a45 %>
</p>

<p>
  <strong>A46:</strong>
  <%= @zkb.a46 %>
</p>

<p>
  <strong>A47:</strong>
  <%= @zkb.a47 %>
</p>

<p>
  <strong>A48:</strong>
  <%= @zkb.a48 %>
</p>

<p>
  <strong>A49:</strong>
  <%= @zkb.a49 %>
</p>

<p>
  <strong>A50:</strong>
  <%= @zkb.a50 %>
</p>

<p>
  <strong>A51:</strong>
  <%= @zkb.a51 %>
</p>

<p>
  <strong>A52:</strong>
  <%= @zkb.a52 %>
</p>

<p>
  <strong>A53:</strong>
  <%= @zkb.a53 %>
</p>

<p>
  <strong>A54:</strong>
  <%= @zkb.a54 %>
</p>

<p>
  <strong>A55:</strong>
  <%= @zkb.a55 %>
</p>

<p>
  <strong>A56:</strong>
  <%= @zkb.a56 %>
</p>

<p>
  <strong>A57:</strong>
  <%= @zkb.a57 %>
</p>

<p>
  <strong>A58:</strong>
  <%= @zkb.a58 %>
</p>

<p>
  <strong>A59:</strong>
  <%= @zkb.a59 %>
</p>

<p>
  <strong>A60:</strong>
  <%= @zkb.a60 %>
</p>

<p>
  <strong>A61:</strong>
  <%= @zkb.a61 %>
</p>

<%= link_to 'Edit', edit_zkb_path(@zkb) %> |
<%= link_to 'Back', zkbs_path %>
