<%= form_with(model: cyb, local: true) do |form| %>
  <% if cyb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cyb.errors.count, "error") %> prohibited this cyb from being saved:</h2>

      <ul>
      <% cyb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :a1 %>
    <%= form.text_field :a1, id: :cyb_a1 %>
  </div>

  <div class="field">
    <%= form.label :a2 %>
    <%= form.text_field :a2, id: :cyb_a2 %>
  </div>

  <div class="field">
    <%= form.label :a3 %>
    <%= form.text_field :a3, id: :cyb_a3 %>
  </div>

  <div class="field">
    <%= form.label :a4 %>
    <%= form.text_field :a4, id: :cyb_a4 %>
  </div>

  <div class="field">
    <%= form.label :a5 %>
    <%= form.text_field :a5, id: :cyb_a5 %>
  </div>

  <div class="field">
    <%= form.label :a6 %>
    <%= form.text_field :a6, id: :cyb_a6 %>
  </div>

  <div class="field">
    <%= form.label :a7 %>
    <%= form.text_field :a7, id: :cyb_a7 %>
  </div>

  <div class="field">
    <%= form.label :a8 %>
    <%= form.text_field :a8, id: :cyb_a8 %>
  </div>

  <div class="field">
    <%= form.label :a9 %>
    <%= form.text_field :a9, id: :cyb_a9 %>
  </div>

  <div class="field">
    <%= form.label :a10 %>
    <%= form.text_field :a10, id: :cyb_a10 %>
  </div>

  <div class="field">
    <%= form.label :a11 %>
    <%= form.text_field :a11, id: :cyb_a11 %>
  </div>

  <div class="field">
    <%= form.label :a12 %>
    <%= form.text_field :a12, id: :cyb_a12 %>
  </div>

  <div class="field">
    <%= form.label :a13 %>
    <%= form.text_field :a13, id: :cyb_a13 %>
  </div>

  <div class="field">
    <%= form.label :a14 %>
    <%= form.text_field :a14, id: :cyb_a14 %>
  </div>

  <div class="field">
    <%= form.label :a15 %>
    <%= form.text_field :a15, id: :cyb_a15 %>
  </div>

  <div class="field">
    <%= form.label :a16 %>
    <%= form.text_field :a16, id: :cyb_a16 %>
  </div>

  <div class="field">
    <%= form.label :a17 %>
    <%= form.text_field :a17, id: :cyb_a17 %>
  </div>

  <div class="field">
    <%= form.label :a18 %>
    <%= form.text_field :a18, id: :cyb_a18 %>
  </div>

  <div class="field">
    <%= form.label :a19 %>
    <%= form.text_field :a19, id: :cyb_a19 %>
  </div>

  <div class="field">
    <%= form.label :a20 %>
    <%= form.text_field :a20, id: :cyb_a20 %>
  </div>

  <div class="field">
    <%= form.label :a21 %>
    <%= form.text_field :a21, id: :cyb_a21 %>
  </div>

  <div class="field">
    <%= form.label :a22 %>
    <%= form.text_field :a22, id: :cyb_a22 %>
  </div>

  <div class="field">
    <%= form.label :a23 %>
    <%= form.text_field :a23, id: :cyb_a23 %>
  </div>

  <div class="field">
    <%= form.label :a24 %>
    <%= form.text_field :a24, id: :cyb_a24 %>
  </div>

  <div class="field">
    <%= form.label :a25 %>
    <%= form.text_field :a25, id: :cyb_a25 %>
  </div>

  <div class="field">
    <%= form.label :a26 %>
    <%= form.text_field :a26, id: :cyb_a26 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
