<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @cyb.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @cyb.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @cyb.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @cyb.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @cyb.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @cyb.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @cyb.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @cyb.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @cyb.a9 %>
</p>

<p>
  <strong>A10:</strong>
  <%= @cyb.a10 %>
</p>

<p>
  <strong>A11:</strong>
  <%= @cyb.a11 %>
</p>

<p>
  <strong>A12:</strong>
  <%= @cyb.a12 %>
</p>

<p>
  <strong>A13:</strong>
  <%= @cyb.a13 %>
</p>

<p>
  <strong>A14:</strong>
  <%= @cyb.a14 %>
</p>

<p>
  <strong>A15:</strong>
  <%= @cyb.a15 %>
</p>

<p>
  <strong>A16:</strong>
  <%= @cyb.a16 %>
</p>

<p>
  <strong>A17:</strong>
  <%= @cyb.a17 %>
</p>

<p>
  <strong>A18:</strong>
  <%= @cyb.a18 %>
</p>

<p>
  <strong>A19:</strong>
  <%= @cyb.a19 %>
</p>

<p>
  <strong>A20:</strong>
  <%= @cyb.a20 %>
</p>

<p>
  <strong>A21:</strong>
  <%= @cyb.a21 %>
</p>

<p>
  <strong>A22:</strong>
  <%= @cyb.a22 %>
</p>

<p>
  <strong>A23:</strong>
  <%= @cyb.a23 %>
</p>

<p>
  <strong>A24:</strong>
  <%= @cyb.a24 %>
</p>

<p>
  <strong>A25:</strong>
  <%= @cyb.a25 %>
</p>

<p>
  <strong>A26:</strong>
  <%= @cyb.a26 %>
</p>

<%= link_to 'Edit', edit_cyb_path(@cyb) %> |
<%= link_to 'Back', cybs_path %>
