<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @ou.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @ou.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @ou.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @ou.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @ou.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @ou.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @ou.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @ou.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @ou.a9 %>
</p>

<%= link_to 'Edit', edit_ou_path(@ou) %> |
<%= link_to 'Back', ous_path %>
