<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @kab.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @kab.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @kab.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @kab.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @kab.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @kab.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @kab.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @kab.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @kab.a9 %>
</p>

<p>
  <strong>A10:</strong>
  <%= @kab.a10 %>
</p>

<p>
  <strong>A11:</strong>
  <%= @kab.a11 %>
</p>

<p>
  <strong>A12:</strong>
  <%= @kab.a12 %>
</p>

<p>
  <strong>A13:</strong>
  <%= @kab.a13 %>
</p>

<p>
  <strong>A14:</strong>
  <%= @kab.a14 %>
</p>

<p>
  <strong>A15:</strong>
  <%= @kab.a15 %>
</p>

<p>
  <strong>A16:</strong>
  <%= @kab.a16 %>
</p>

<p>
  <strong>A17:</strong>
  <%= @kab.a17 %>
</p>

<p>
  <strong>A18:</strong>
  <%= @kab.a18 %>
</p>

<p>
  <strong>A19:</strong>
  <%= @kab.a19 %>
</p>

<p>
  <strong>A20:</strong>
  <%= @kab.a20 %>
</p>

<p>
  <strong>A21:</strong>
  <%= @kab.a21 %>
</p>

<p>
  <strong>A22:</strong>
  <%= @kab.a22 %>
</p>

<p>
  <strong>A23:</strong>
  <%= @kab.a23 %>
</p>

<p>
  <strong>A24:</strong>
  <%= @kab.a24 %>
</p>

<p>
  <strong>A25:</strong>
  <%= @kab.a25 %>
</p>

<p>
  <strong>A26:</strong>
  <%= @kab.a26 %>
</p>

<p>
  <strong>A27:</strong>
  <%= @kab.a27 %>
</p>

<p>
  <strong>A28:</strong>
  <%= @kab.a28 %>
</p>

<p>
  <strong>A29:</strong>
  <%= @kab.a29 %>
</p>

<p>
  <strong>A30:</strong>
  <%= @kab.a30 %>
</p>

<p>
  <strong>A31:</strong>
  <%= @kab.a31 %>
</p>

<p>
  <strong>A32:</strong>
  <%= @kab.a32 %>
</p>

<p>
  <strong>A33:</strong>
  <%= @kab.a33 %>
</p>

<%= link_to 'Edit', edit_kab_path(@kab) %> |
<%= link_to 'Back', kabs_path %>
