<%= form_with(model: kyi, local: true) do |form| %>
  <% if kyi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kyi.errors.count, "error") %> prohibited this kyi from being saved:</h2>

      <ul>
      <% kyi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :a1 %>
    <%= form.text_area :a1, id: :kyi_a1 %>
  </div>

  <div class="field">
    <%= form.label :a2 %>
    <%= form.text_area :a2, id: :kyi_a2 %>
  </div>

  <div class="field">
    <%= form.label :a3 %>
    <%= form.text_area :a3, id: :kyi_a3 %>
  </div>

  <div class="field">
    <%= form.label :a4 %>
    <%= form.text_area :a4, id: :kyi_a4 %>
  </div>

  <div class="field">
    <%= form.label :a5 %>
    <%= form.text_area :a5, id: :kyi_a5 %>
  </div>

  <div class="field">
    <%= form.label :a6 %>
    <%= form.text_area :a6, id: :kyi_a6 %>
  </div>

  <div class="field">
    <%= form.label :a7 %>
    <%= form.text_area :a7, id: :kyi_a7 %>
  </div>

  <div class="field">
    <%= form.label :a8 %>
    <%= form.text_area :a8, id: :kyi_a8 %>
  </div>

  <div class="field">
    <%= form.label :a9 %>
    <%= form.text_area :a9, id: :kyi_a9 %>
  </div>

  <div class="field">
    <%= form.label :a10 %>
    <%= form.text_area :a10, id: :kyi_a10 %>
  </div>

  <div class="field">
    <%= form.label :a11 %>
    <%= form.text_area :a11, id: :kyi_a11 %>
  </div>

  <div class="field">
    <%= form.label :a12 %>
    <%= form.text_area :a12, id: :kyi_a12 %>
  </div>

  <div class="field">
    <%= form.label :a13 %>
    <%= form.text_area :a13, id: :kyi_a13 %>
  </div>

  <div class="field">
    <%= form.label :a14 %>
    <%= form.text_area :a14, id: :kyi_a14 %>
  </div>

  <div class="field">
    <%= form.label :a15 %>
    <%= form.text_area :a15, id: :kyi_a15 %>
  </div>

  <div class="field">
    <%= form.label :a16 %>
    <%= form.text_area :a16, id: :kyi_a16 %>
  </div>

  <div class="field">
    <%= form.label :a17 %>
    <%= form.text_area :a17, id: :kyi_a17 %>
  </div>

  <div class="field">
    <%= form.label :a18 %>
    <%= form.text_area :a18, id: :kyi_a18 %>
  </div>

  <div class="field">
    <%= form.label :a19 %>
    <%= form.text_area :a19, id: :kyi_a19 %>
  </div>

  <div class="field">
    <%= form.label :a20 %>
    <%= form.text_area :a20, id: :kyi_a20 %>
  </div>

  <div class="field">
    <%= form.label :a21 %>
    <%= form.text_area :a21, id: :kyi_a21 %>
  </div>

  <div class="field">
    <%= form.label :a22 %>
    <%= form.text_area :a22, id: :kyi_a22 %>
  </div>

  <div class="field">
    <%= form.label :a23 %>
    <%= form.text_area :a23, id: :kyi_a23 %>
  </div>

  <div class="field">
    <%= form.label :a24 %>
    <%= form.text_area :a24, id: :kyi_a24 %>
  </div>

  <div class="field">
    <%= form.label :a25 %>
    <%= form.text_area :a25, id: :kyi_a25 %>
  </div>

  <div class="field">
    <%= form.label :a26 %>
    <%= form.text_area :a26, id: :kyi_a26 %>
  </div>

  <div class="field">
    <%= form.label :a27 %>
    <%= form.text_area :a27, id: :kyi_a27 %>
  </div>

  <div class="field">
    <%= form.label :a28 %>
    <%= form.text_area :a28, id: :kyi_a28 %>
  </div>

  <div class="field">
    <%= form.label :a29 %>
    <%= form.text_area :a29, id: :kyi_a29 %>
  </div>

  <div class="field">
    <%= form.label :a30 %>
    <%= form.text_area :a30, id: :kyi_a30 %>
  </div>

  <div class="field">
    <%= form.label :a31 %>
    <%= form.text_area :a31, id: :kyi_a31 %>
  </div>

  <div class="field">
    <%= form.label :a32 %>
    <%= form.text_area :a32, id: :kyi_a32 %>
  </div>

  <div class="field">
    <%= form.label :a33 %>
    <%= form.text_area :a33, id: :kyi_a33 %>
  </div>

  <div class="field">
    <%= form.label :a34 %>
    <%= form.text_area :a34, id: :kyi_a34 %>
  </div>

  <div class="field">
    <%= form.label :a35 %>
    <%= form.text_area :a35, id: :kyi_a35 %>
  </div>

  <div class="field">
    <%= form.label :a36 %>
    <%= form.text_area :a36, id: :kyi_a36 %>
  </div>

  <div class="field">
    <%= form.label :a37 %>
    <%= form.text_area :a37, id: :kyi_a37 %>
  </div>

  <div class="field">
    <%= form.label :a38 %>
    <%= form.text_area :a38, id: :kyi_a38 %>
  </div>

  <div class="field">
    <%= form.label :a39 %>
    <%= form.text_area :a39, id: :kyi_a39 %>
  </div>

  <div class="field">
    <%= form.label :a40 %>
    <%= form.text_area :a40, id: :kyi_a40 %>
  </div>

  <div class="field">
    <%= form.label :a41 %>
    <%= form.text_area :a41, id: :kyi_a41 %>
  </div>

  <div class="field">
    <%= form.label :a42 %>
    <%= form.text_area :a42, id: :kyi_a42 %>
  </div>

  <div class="field">
    <%= form.label :a43 %>
    <%= form.text_area :a43, id: :kyi_a43 %>
  </div>

  <div class="field">
    <%= form.label :a44 %>
    <%= form.text_area :a44, id: :kyi_a44 %>
  </div>

  <div class="field">
    <%= form.label :a45 %>
    <%= form.text_area :a45, id: :kyi_a45 %>
  </div>

  <div class="field">
    <%= form.label :a46 %>
    <%= form.text_area :a46, id: :kyi_a46 %>
  </div>

  <div class="field">
    <%= form.label :a47 %>
    <%= form.text_area :a47, id: :kyi_a47 %>
  </div>

  <div class="field">
    <%= form.label :a48 %>
    <%= form.text_area :a48, id: :kyi_a48 %>
  </div>

  <div class="field">
    <%= form.label :a49 %>
    <%= form.text_area :a49, id: :kyi_a49 %>
  </div>

  <div class="field">
    <%= form.label :a50 %>
    <%= form.text_area :a50, id: :kyi_a50 %>
  </div>

  <div class="field">
    <%= form.label :a51 %>
    <%= form.text_area :a51, id: :kyi_a51 %>
  </div>

  <div class="field">
    <%= form.label :a52 %>
    <%= form.text_area :a52, id: :kyi_a52 %>
  </div>

  <div class="field">
    <%= form.label :a53 %>
    <%= form.text_area :a53, id: :kyi_a53 %>
  </div>

  <div class="field">
    <%= form.label :a54 %>
    <%= form.text_area :a54, id: :kyi_a54 %>
  </div>

  <div class="field">
    <%= form.label :a55 %>
    <%= form.text_area :a55, id: :kyi_a55 %>
  </div>

  <div class="field">
    <%= form.label :a56 %>
    <%= form.text_area :a56, id: :kyi_a56 %>
  </div>

  <div class="field">
    <%= form.label :a57 %>
    <%= form.text_area :a57, id: :kyi_a57 %>
  </div>

  <div class="field">
    <%= form.label :a58 %>
    <%= form.text_area :a58, id: :kyi_a58 %>
  </div>

  <div class="field">
    <%= form.label :a59 %>
    <%= form.text_area :a59, id: :kyi_a59 %>
  </div>

  <div class="field">
    <%= form.label :a60 %>
    <%= form.text_area :a60, id: :kyi_a60 %>
  </div>

  <div class="field">
    <%= form.label :a61 %>
    <%= form.text_area :a61, id: :kyi_a61 %>
  </div>

  <div class="field">
    <%= form.label :a62 %>
    <%= form.text_area :a62, id: :kyi_a62 %>
  </div>

  <div class="field">
    <%= form.label :a63 %>
    <%= form.text_area :a63, id: :kyi_a63 %>
  </div>

  <div class="field">
    <%= form.label :a64 %>
    <%= form.text_area :a64, id: :kyi_a64 %>
  </div>

  <div class="field">
    <%= form.label :a65 %>
    <%= form.text_area :a65, id: :kyi_a65 %>
  </div>

  <div class="field">
    <%= form.label :a66 %>
    <%= form.text_area :a66, id: :kyi_a66 %>
  </div>

  <div class="field">
    <%= form.label :a67 %>
    <%= form.text_area :a67, id: :kyi_a67 %>
  </div>

  <div class="field">
    <%= form.label :a68 %>
    <%= form.text_area :a68, id: :kyi_a68 %>
  </div>

  <div class="field">
    <%= form.label :a69 %>
    <%= form.text_area :a69, id: :kyi_a69 %>
  </div>

  <div class="field">
    <%= form.label :a70 %>
    <%= form.text_area :a70, id: :kyi_a70 %>
  </div>

  <div class="field">
    <%= form.label :a71 %>
    <%= form.text_area :a71, id: :kyi_a71 %>
  </div>

  <div class="field">
    <%= form.label :a72 %>
    <%= form.text_area :a72, id: :kyi_a72 %>
  </div>

  <div class="field">
    <%= form.label :a73 %>
    <%= form.text_area :a73, id: :kyi_a73 %>
  </div>

  <div class="field">
    <%= form.label :a74 %>
    <%= form.text_area :a74, id: :kyi_a74 %>
  </div>

  <div class="field">
    <%= form.label :a75 %>
    <%= form.text_area :a75, id: :kyi_a75 %>
  </div>

  <div class="field">
    <%= form.label :a76 %>
    <%= form.text_area :a76, id: :kyi_a76 %>
  </div>

  <div class="field">
    <%= form.label :a77 %>
    <%= form.text_area :a77, id: :kyi_a77 %>
  </div>

  <div class="field">
    <%= form.label :a78 %>
    <%= form.text_area :a78, id: :kyi_a78 %>
  </div>

  <div class="field">
    <%= form.label :a79 %>
    <%= form.text_area :a79, id: :kyi_a79 %>
  </div>

  <div class="field">
    <%= form.label :a80 %>
    <%= form.text_area :a80, id: :kyi_a80 %>
  </div>

  <div class="field">
    <%= form.label :a81 %>
    <%= form.text_area :a81, id: :kyi_a81 %>
  </div>

  <div class="field">
    <%= form.label :a82 %>
    <%= form.text_area :a82, id: :kyi_a82 %>
  </div>

  <div class="field">
    <%= form.label :a83 %>
    <%= form.text_area :a83, id: :kyi_a83 %>
  </div>

  <div class="field">
    <%= form.label :a84 %>
    <%= form.text_area :a84, id: :kyi_a84 %>
  </div>

  <div class="field">
    <%= form.label :a85 %>
    <%= form.text_area :a85, id: :kyi_a85 %>
  </div>

  <div class="field">
    <%= form.label :a86 %>
    <%= form.text_area :a86, id: :kyi_a86 %>
  </div>

  <div class="field">
    <%= form.label :a87 %>
    <%= form.text_area :a87, id: :kyi_a87 %>
  </div>

  <div class="field">
    <%= form.label :a88 %>
    <%= form.text_area :a88, id: :kyi_a88 %>
  </div>

  <div class="field">
    <%= form.label :a89 %>
    <%= form.text_area :a89, id: :kyi_a89 %>
  </div>

  <div class="field">
    <%= form.label :a90 %>
    <%= form.text_area :a90, id: :kyi_a90 %>
  </div>

  <div class="field">
    <%= form.label :a91 %>
    <%= form.text_area :a91, id: :kyi_a91 %>
  </div>

  <div class="field">
    <%= form.label :a92 %>
    <%= form.text_area :a92, id: :kyi_a92 %>
  </div>

  <div class="field">
    <%= form.label :a93 %>
    <%= form.text_area :a93, id: :kyi_a93 %>
  </div>

  <div class="field">
    <%= form.label :a94 %>
    <%= form.text_area :a94, id: :kyi_a94 %>
  </div>

  <div class="field">
    <%= form.label :a95 %>
    <%= form.text_area :a95, id: :kyi_a95 %>
  </div>

  <div class="field">
    <%= form.label :a96 %>
    <%= form.text_area :a96, id: :kyi_a96 %>
  </div>

  <div class="field">
    <%= form.label :a97 %>
    <%= form.text_area :a97, id: :kyi_a97 %>
  </div>

  <div class="field">
    <%= form.label :a98 %>
    <%= form.text_area :a98, id: :kyi_a98 %>
  </div>

  <div class="field">
    <%= form.label :a99 %>
    <%= form.text_area :a99, id: :kyi_a99 %>
  </div>

  <div class="field">
    <%= form.label :a100 %>
    <%= form.text_area :a100, id: :kyi_a100 %>
  </div>

  <div class="field">
    <%= form.label :a101 %>
    <%= form.text_area :a101, id: :kyi_a101 %>
  </div>

  <div class="field">
    <%= form.label :a102 %>
    <%= form.text_area :a102, id: :kyi_a102 %>
  </div>

  <div class="field">
    <%= form.label :a103 %>
    <%= form.text_area :a103, id: :kyi_a103 %>
  </div>

  <div class="field">
    <%= form.label :a104 %>
    <%= form.text_area :a104, id: :kyi_a104 %>
  </div>

  <div class="field">
    <%= form.label :a105 %>
    <%= form.text_area :a105, id: :kyi_a105 %>
  </div>

  <div class="field">
    <%= form.label :a106 %>
    <%= form.text_area :a106, id: :kyi_a106 %>
  </div>

  <div class="field">
    <%= form.label :a107 %>
    <%= form.text_area :a107, id: :kyi_a107 %>
  </div>

  <div class="field">
    <%= form.label :a108 %>
    <%= form.text_area :a108, id: :kyi_a108 %>
  </div>

  <div class="field">
    <%= form.label :a109 %>
    <%= form.text_area :a109, id: :kyi_a109 %>
  </div>

  <div class="field">
    <%= form.label :a110 %>
    <%= form.text_area :a110, id: :kyi_a110 %>
  </div>

  <div class="field">
    <%= form.label :a111 %>
    <%= form.text_area :a111, id: :kyi_a111 %>
  </div>

  <div class="field">
    <%= form.label :a112 %>
    <%= form.text_area :a112, id: :kyi_a112 %>
  </div>

  <div class="field">
    <%= form.label :a113 %>
    <%= form.text_area :a113, id: :kyi_a113 %>
  </div>

  <div class="field">
    <%= form.label :a114 %>
    <%= form.text_area :a114, id: :kyi_a114 %>
  </div>

  <div class="field">
    <%= form.label :a115 %>
    <%= form.text_area :a115, id: :kyi_a115 %>
  </div>

  <div class="field">
    <%= form.label :a116 %>
    <%= form.text_area :a116, id: :kyi_a116 %>
  </div>

  <div class="field">
    <%= form.label :a117 %>
    <%= form.text_area :a117, id: :kyi_a117 %>
  </div>

  <div class="field">
    <%= form.label :a118 %>
    <%= form.text_area :a118, id: :kyi_a118 %>
  </div>

  <div class="field">
    <%= form.label :a119 %>
    <%= form.text_area :a119, id: :kyi_a119 %>
  </div>

  <div class="field">
    <%= form.label :a120 %>
    <%= form.text_area :a120, id: :kyi_a120 %>
  </div>

  <div class="field">
    <%= form.label :a121 %>
    <%= form.text_area :a121, id: :kyi_a121 %>
  </div>

  <div class="field">
    <%= form.label :a122 %>
    <%= form.text_area :a122, id: :kyi_a122 %>
  </div>

  <div class="field">
    <%= form.label :a123 %>
    <%= form.text_area :a123, id: :kyi_a123 %>
  </div>

  <div class="field">
    <%= form.label :a124 %>
    <%= form.text_area :a124, id: :kyi_a124 %>
  </div>

  <div class="field">
    <%= form.label :a125 %>
    <%= form.text_area :a125, id: :kyi_a125 %>
  </div>

  <div class="field">
    <%= form.label :a126 %>
    <%= form.text_area :a126, id: :kyi_a126 %>
  </div>

  <div class="field">
    <%= form.label :a127 %>
    <%= form.text_area :a127, id: :kyi_a127 %>
  </div>

  <div class="field">
    <%= form.label :a128 %>
    <%= form.text_area :a128, id: :kyi_a128 %>
  </div>

  <div class="field">
    <%= form.label :a129 %>
    <%= form.text_area :a129, id: :kyi_a129 %>
  </div>

  <div class="field">
    <%= form.label :a130 %>
    <%= form.text_area :a130, id: :kyi_a130 %>
  </div>

  <div class="field">
    <%= form.label :a131 %>
    <%= form.text_area :a131, id: :kyi_a131 %>
  </div>

  <div class="field">
    <%= form.label :a132 %>
    <%= form.text_area :a132, id: :kyi_a132 %>
  </div>

  <div class="field">
    <%= form.label :a133 %>
    <%= form.text_area :a133, id: :kyi_a133 %>
  </div>

  <div class="field">
    <%= form.label :a134 %>
    <%= form.text_area :a134, id: :kyi_a134 %>
  </div>

  <div class="field">
    <%= form.label :a135 %>
    <%= form.text_area :a135, id: :kyi_a135 %>
  </div>

  <div class="field">
    <%= form.label :a136 %>
    <%= form.text_area :a136, id: :kyi_a136 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
