<div class="moto">
<p id="notice"><%= notice %></p>

<h1>出馬表</h1>

<form method="GET" action="/kyis">
<p>コード:<input type="text" name ="code" /><br>
京都＝０８　東京＝０５　福島＝０３</p>
<p>年:<input type="text" name ="nen" /><br>
１９</p>
<p>回:<input type="text" name ="kai" /><br>
京都＝３　東京＝２　福島＝１</p>
  <p>日:<input type="text" name ="nenngappi" /><br>
  京都＝１、２　東京＝１、２　福島＝５、６</p>
  <p>レース:<input type="text" name ="hiduke" /><br>
  01〜12</p>
  <br />
  <input type ="submit" value="検索" />
  </form>
<% @kyis.each do |kyi| %>
<% end %>

<% a99_map = {

  "01" => "札幌",
  "02" => "函館",
  "03" => "福島",
  "04" =>"新潟",
  "05" =>"東京",
  "06" =>"中山",
  "07" =>"中京",
  "08" =>"京都",
  "09" =>"阪神",
  "10" =>"小倉",
  "21" =>"旭川",
  "22" =>"札幌",
  "23" =>"門別",
  "24" =>"函館",
  "25" =>"盛岡",
  "26" =>"水沢",
  "27" =>"上山",
  "28" =>"新潟",
  "29" =>"三条",
  "30" =>"足利",
  "31" =>"宇都",
  "32" =>"高崎",
  "33" =>"浦和",
  "34" =>"船橋",
  "35" =>"大井",
  "36" =>"川崎",
  "37" =>"金沢",
  "38" =>"笠松",
  "39" =>"名古",
  "40" =>"中京",
  "41" =>"園田",
  "42" =>"姫路",
  "43" =>"益田",
  "44" =>"福山",
  "45" =>"高知",
  "46" =>"佐賀",
  "47" =>"荒尾",
  "48" =>"中津",
  "61" =>"英国",
  "62" =>"愛国",
  "63" =>"仏国",
  "64" =>"伊国",
  "65" =>"独国",
  "66" =>"米国",
  "67" =>"加国",
  "68" =>"UAE",
  "69" =>"豪州",
  "70" =>"新国",
  "71" =>"香港",
  "72" =>"チリ",
  "73" =>"星国",
  "74" =>"典国",
  "75" =>"マカ",
  "76" =>"墺国",
  "77" =>"土国",
  "78" =>"華国",
  "79" =>"韓国",
}%>

<% a133_map = {

  "1" => "S",
  "2" => "A",
  "3" => "B",
  "4" =>"C",
  "5" =>"D",
  "6" =>"E",
  "7" =>"F",
  "8" =>"G",
  "9" =>"H",
  }%>
  <% a16_map = {

    "1" => "逃げ",
    "2" => "先行",
    "3" => "差し",
    "4" =>"追込",
    "5" =>"好位差",
    "6" =>"自在",
    }%>

<br>
<table>


  <thead>
    <tr class="hyou">
      <th class ="wakuban">枠番</th>
      <th class="umaban">馬番</th>
      <th width =" 5000">馬名</th>
      <th>騎手</th>
      <th>調教師</th>
      <th>調教師ランク</th>
      <th>馬主所属</th>
      <th>馬主</th>
      <th>基準オッズ</th>
      <th>脚質</th>
      <th>放牧先ランク</th>
      <th>放牧先</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kyis.each do |kyi| %>
      <tr class="hyou">
        <td class ="wakuban"><%= kyi.a61 %></td>
        <td class="umaban"><%= kyi.a6 %></td>
        <td class="uma"><%= kyi.a8 %></td>
        <td class="kisyu"><%= kyi.a46 %></td>
        <td class="tyoukyousi"><%= kyi.a49 %></td>
        <td class="tyoukyousi"><%= a133_map[kyi.a133] %></td>
        <td class="umanusisyo"><%= a99_map[kyi.a99] %></td>
        <td class="umanusi"><%= kyi.a98 %></td>
        <td class="kiozu"><%= kyi.a20 %></td>
        <td class="zen1"><%= a16_map[kyi.a16] %></td>
        <td class="zen2"><%= kyi.a132 %></td>
        <td class="zen3"><%= kyi.a131 %></td>


      </tr>
    <% end %>
  </tbody>
</table>
</div>
