<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @kyi.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @kyi.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @kyi.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @kyi.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @kyi.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @kyi.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @kyi.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @kyi.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @kyi.a9 %>
</p>

<p>
  <strong>A10:</strong>
  <%= @kyi.a10 %>
</p>

<p>
  <strong>A11:</strong>
  <%= @kyi.a11 %>
</p>

<p>
  <strong>A12:</strong>
  <%= @kyi.a12 %>
</p>

<p>
  <strong>A13:</strong>
  <%= @kyi.a13 %>
</p>

<p>
  <strong>A14:</strong>
  <%= @kyi.a14 %>
</p>

<p>
  <strong>A15:</strong>
  <%= @kyi.a15 %>
</p>

<p>
  <strong>A16:</strong>
  <%= @kyi.a16 %>
</p>

<p>
  <strong>A17:</strong>
  <%= @kyi.a17 %>
</p>

<p>
  <strong>A18:</strong>
  <%= @kyi.a18 %>
</p>

<p>
  <strong>A19:</strong>
  <%= @kyi.a19 %>
</p>

<p>
  <strong>A20:</strong>
  <%= @kyi.a20 %>
</p>

<p>
  <strong>A21:</strong>
  <%= @kyi.a21 %>
</p>

<p>
  <strong>A22:</strong>
  <%= @kyi.a22 %>
</p>

<p>
  <strong>A23:</strong>
  <%= @kyi.a23 %>
</p>

<p>
  <strong>A24:</strong>
  <%= @kyi.a24 %>
</p>

<p>
  <strong>A25:</strong>
  <%= @kyi.a25 %>
</p>

<p>
  <strong>A26:</strong>
  <%= @kyi.a26 %>
</p>

<p>
  <strong>A27:</strong>
  <%= @kyi.a27 %>
</p>

<p>
  <strong>A28:</strong>
  <%= @kyi.a28 %>
</p>

<p>
  <strong>A29:</strong>
  <%= @kyi.a29 %>
</p>

<p>
  <strong>A30:</strong>
  <%= @kyi.a30 %>
</p>

<p>
  <strong>A31:</strong>
  <%= @kyi.a31 %>
</p>

<p>
  <strong>A32:</strong>
  <%= @kyi.a32 %>
</p>

<p>
  <strong>A33:</strong>
  <%= @kyi.a33 %>
</p>

<p>
  <strong>A34:</strong>
  <%= @kyi.a34 %>
</p>

<p>
  <strong>A35:</strong>
  <%= @kyi.a35 %>
</p>

<p>
  <strong>A36:</strong>
  <%= @kyi.a36 %>
</p>

<p>
  <strong>A37:</strong>
  <%= @kyi.a37 %>
</p>

<p>
  <strong>A38:</strong>
  <%= @kyi.a38 %>
</p>

<p>
  <strong>A39:</strong>
  <%= @kyi.a39 %>
</p>

<p>
  <strong>A40:</strong>
  <%= @kyi.a40 %>
</p>

<p>
  <strong>A41:</strong>
  <%= @kyi.a41 %>
</p>

<p>
  <strong>A42:</strong>
  <%= @kyi.a42 %>
</p>

<p>
  <strong>A43:</strong>
  <%= @kyi.a43 %>
</p>

<p>
  <strong>A44:</strong>
  <%= @kyi.a44 %>
</p>

<p>
  <strong>A45:</strong>
  <%= @kyi.a45 %>
</p>

<p>
  <strong>A46:</strong>
  <%= @kyi.a46 %>
</p>

<p>
  <strong>A47:</strong>
  <%= @kyi.a47 %>
</p>

<p>
  <strong>A48:</strong>
  <%= @kyi.a48 %>
</p>

<p>
  <strong>A49:</strong>
  <%= @kyi.a49 %>
</p>

<p>
  <strong>A50:</strong>
  <%= @kyi.a50 %>
</p>

<p>
  <strong>A51:</strong>
  <%= @kyi.a51 %>
</p>

<p>
  <strong>A52:</strong>
  <%= @kyi.a52 %>
</p>

<p>
  <strong>A53:</strong>
  <%= @kyi.a53 %>
</p>

<p>
  <strong>A54:</strong>
  <%= @kyi.a54 %>
</p>

<p>
  <strong>A55:</strong>
  <%= @kyi.a55 %>
</p>

<p>
  <strong>A56:</strong>
  <%= @kyi.a56 %>
</p>

<p>
  <strong>A57:</strong>
  <%= @kyi.a57 %>
</p>

<p>
  <strong>A58:</strong>
  <%= @kyi.a58 %>
</p>

<p>
  <strong>A59:</strong>
  <%= @kyi.a59 %>
</p>

<p>
  <strong>A60:</strong>
  <%= @kyi.a60 %>
</p>

<p>
  <strong>A61:</strong>
  <%= @kyi.a61 %>
</p>

<p>
  <strong>A62:</strong>
  <%= @kyi.a62 %>
</p>

<p>
  <strong>A63:</strong>
  <%= @kyi.a63 %>
</p>

<p>
  <strong>A64:</strong>
  <%= @kyi.a64 %>
</p>

<p>
  <strong>A65:</strong>
  <%= @kyi.a65 %>
</p>

<p>
  <strong>A66:</strong>
  <%= @kyi.a66 %>
</p>

<p>
  <strong>A67:</strong>
  <%= @kyi.a67 %>
</p>

<p>
  <strong>A68:</strong>
  <%= @kyi.a68 %>
</p>

<p>
  <strong>A69:</strong>
  <%= @kyi.a69 %>
</p>

<p>
  <strong>A70:</strong>
  <%= @kyi.a70 %>
</p>

<p>
  <strong>A71:</strong>
  <%= @kyi.a71 %>
</p>

<p>
  <strong>A72:</strong>
  <%= @kyi.a72 %>
</p>

<p>
  <strong>A73:</strong>
  <%= @kyi.a73 %>
</p>

<p>
  <strong>A74:</strong>
  <%= @kyi.a74 %>
</p>

<p>
  <strong>A75:</strong>
  <%= @kyi.a75 %>
</p>

<p>
  <strong>A76:</strong>
  <%= @kyi.a76 %>
</p>

<p>
  <strong>A77:</strong>
  <%= @kyi.a77 %>
</p>

<p>
  <strong>A78:</strong>
  <%= @kyi.a78 %>
</p>

<p>
  <strong>A79:</strong>
  <%= @kyi.a79 %>
</p>

<p>
  <strong>A80:</strong>
  <%= @kyi.a80 %>
</p>

<p>
  <strong>A81:</strong>
  <%= @kyi.a81 %>
</p>

<p>
  <strong>A82:</strong>
  <%= @kyi.a82 %>
</p>

<p>
  <strong>A83:</strong>
  <%= @kyi.a83 %>
</p>

<p>
  <strong>A84:</strong>
  <%= @kyi.a84 %>
</p>

<p>
  <strong>A85:</strong>
  <%= @kyi.a85 %>
</p>

<p>
  <strong>A86:</strong>
  <%= @kyi.a86 %>
</p>

<p>
  <strong>A87:</strong>
  <%= @kyi.a87 %>
</p>

<p>
  <strong>A88:</strong>
  <%= @kyi.a88 %>
</p>

<p>
  <strong>A89:</strong>
  <%= @kyi.a89 %>
</p>

<p>
  <strong>A90:</strong>
  <%= @kyi.a90 %>
</p>

<p>
  <strong>A91:</strong>
  <%= @kyi.a91 %>
</p>

<p>
  <strong>A92:</strong>
  <%= @kyi.a92 %>
</p>

<p>
  <strong>A93:</strong>
  <%= @kyi.a93 %>
</p>

<p>
  <strong>A94:</strong>
  <%= @kyi.a94 %>
</p>

<p>
  <strong>A95:</strong>
  <%= @kyi.a95 %>
</p>

<p>
  <strong>A96:</strong>
  <%= @kyi.a96 %>
</p>

<p>
  <strong>A97:</strong>
  <%= @kyi.a97 %>
</p>

<p>
  <strong>A98:</strong>
  <%= @kyi.a98 %>
</p>

<p>
  <strong>A99:</strong>
  <%= @kyi.a99 %>
</p>

<p>
  <strong>A100:</strong>
  <%= @kyi.a100 %>
</p>

<p>
  <strong>A101:</strong>
  <%= @kyi.a101 %>
</p>

<p>
  <strong>A102:</strong>
  <%= @kyi.a102 %>
</p>

<p>
  <strong>A103:</strong>
  <%= @kyi.a103 %>
</p>

<p>
  <strong>A104:</strong>
  <%= @kyi.a104 %>
</p>

<p>
  <strong>A105:</strong>
  <%= @kyi.a105 %>
</p>

<p>
  <strong>A106:</strong>
  <%= @kyi.a106 %>
</p>

<p>
  <strong>A107:</strong>
  <%= @kyi.a107 %>
</p>

<p>
  <strong>A108:</strong>
  <%= @kyi.a108 %>
</p>

<p>
  <strong>A109:</strong>
  <%= @kyi.a109 %>
</p>

<p>
  <strong>A110:</strong>
  <%= @kyi.a110 %>
</p>

<p>
  <strong>A111:</strong>
  <%= @kyi.a111 %>
</p>

<p>
  <strong>A112:</strong>
  <%= @kyi.a112 %>
</p>

<p>
  <strong>A113:</strong>
  <%= @kyi.a113 %>
</p>

<p>
  <strong>A114:</strong>
  <%= @kyi.a114 %>
</p>

<p>
  <strong>A115:</strong>
  <%= @kyi.a115 %>
</p>

<p>
  <strong>A116:</strong>
  <%= @kyi.a116 %>
</p>

<p>
  <strong>A117:</strong>
  <%= @kyi.a117 %>
</p>

<p>
  <strong>A118:</strong>
  <%= @kyi.a118 %>
</p>

<p>
  <strong>A119:</strong>
  <%= @kyi.a119 %>
</p>

<p>
  <strong>A120:</strong>
  <%= @kyi.a120 %>
</p>

<p>
  <strong>A121:</strong>
  <%= @kyi.a121 %>
</p>

<p>
  <strong>A122:</strong>
  <%= @kyi.a122 %>
</p>

<p>
  <strong>A123:</strong>
  <%= @kyi.a123 %>
</p>

<p>
  <strong>A124:</strong>
  <%= @kyi.a124 %>
</p>

<p>
  <strong>A125:</strong>
  <%= @kyi.a125 %>
</p>

<p>
  <strong>A126:</strong>
  <%= @kyi.a126 %>
</p>

<p>
  <strong>A127:</strong>
  <%= @kyi.a127 %>
</p>

<p>
  <strong>A128:</strong>
  <%= @kyi.a128 %>
</p>

<p>
  <strong>A129:</strong>
  <%= @kyi.a129 %>
</p>

<p>
  <strong>A130:</strong>
  <%= @kyi.a130 %>
</p>

<p>
  <strong>A131:</strong>
  <%= @kyi.a131 %>
</p>

<p>
  <strong>A132:</strong>
  <%= @kyi.a132 %>
</p>

<p>
  <strong>A133:</strong>
  <%= @kyi.a133 %>
</p>

<p>
  <strong>A134:</strong>
  <%= @kyi.a134 %>
</p>

<p>
  <strong>A135:</strong>
  <%= @kyi.a135 %>
</p>

<p>
  <strong>A136:</strong>
  <%= @kyi.a136 %>
</p>

<%= link_to 'Edit', edit_kyi_path(@kyi) %> |
<%= link_to 'Back', kyis_path %>
