<p id="notice"><%= notice %></p>

<h1>Jras</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Year</th>
      <th>The time</th>
      <th>Day</th>
      <th>Race</th>
      <th>Race day</th>
      <th>Race time</th>
      <th>Distance</th>
      <th>Baba</th>
      <th>Turn</th>
      <th>Track</th>
      <th>Condition</th>
      <th>Class</th>
      <th>Race condraceition</th>
      <th>Weight</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jras.each do |jra| %>
      <tr>
        <td><%= jra.code %></td>
        <td><%= jra.year %></td>
        <td><%= jra.the_time %></td>
        <td><%= jra.day %></td>
        <td><%= jra.race %></td>
        <td><%= jra.race_day %></td>
        <td><%= jra.race_time %></td>
        <td><%= jra.distance %></td>
        <td><%= jra.baba %></td>
        <td><%= jra.turn %></td>
        <td><%= jra.track %></td>
        <td><%= jra.condition %></td>
        <td><%= jra.class %></td>
        <td><%= jra.race_condraceition %></td>
        <td><%= jra.weight %></td>
        <td><%= jra.grade %></td>
        <td><%= link_to 'Show', jra %></td>
        <td><%= link_to 'Edit', edit_jra_path(jra) %></td>
        <td><%= link_to 'Destroy', jra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jra', new_jra_path %>
