<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @jra.code %>
</p>

<p>
  <strong>Year:</strong>
  <%= @jra.year %>
</p>

<p>
  <strong>The time:</strong>
  <%= @jra.the_time %>
</p>

<p>
  <strong>Day:</strong>
  <%= @jra.day %>
</p>

<p>
  <strong>Race:</strong>
  <%= @jra.race %>
</p>

<p>
  <strong>Race day:</strong>
  <%= @jra.race_day %>
</p>

<p>
  <strong>Race time:</strong>
  <%= @jra.race_time %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @jra.distance %>
</p>

<p>
  <strong>Baba:</strong>
  <%= @jra.baba %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @jra.turn %>
</p>

<p>
  <strong>Track:</strong>
  <%= @jra.track %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @jra.condition %>
</p>

<p>
  <strong>Class:</strong>
  <%= @jra.class %>
</p>

<p>
  <strong>Race condraceition:</strong>
  <%= @jra.race_condraceition %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @jra.weight %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @jra.grade %>
</p>

<%= link_to 'Edit', edit_jra_path(@jra) %> |
<%= link_to 'Back', jras_path %>
