<%= form_with(model: ow, local: true) do |form| %>
  <% if ow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ow.errors.count, "error") %> prohibited this ow from being saved:</h2>

      <ul>
      <% ow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :a1 %>
    <%= form.text_field :a1, id: :ow_a1 %>
  </div>

  <div class="field">
    <%= form.label :a2 %>
    <%= form.text_field :a2, id: :ow_a2 %>
  </div>

  <div class="field">
    <%= form.label :a3 %>
    <%= form.text_field :a3, id: :ow_a3 %>
  </div>

  <div class="field">
    <%= form.label :a4 %>
    <%= form.text_field :a4, id: :ow_a4 %>
  </div>

  <div class="field">
    <%= form.label :a5 %>
    <%= form.text_field :a5, id: :ow_a5 %>
  </div>

  <div class="field">
    <%= form.label :a6 %>
    <%= form.text_field :a6, id: :ow_a6 %>
  </div>

  <div class="field">
    <%= form.label :a7 %>
    <%= form.text_field :a7, id: :ow_a7 %>
  </div>

  <div class="field">
    <%= form.label :a8 %>
    <%= form.text_field :a8, id: :ow_a8 %>
  </div>

  <div class="field">
    <%= form.label :a9 %>
    <%= form.text_field :a9, id: :ow_a9 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
