<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @ow.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @ow.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @ow.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @ow.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @ow.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @ow.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @ow.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @ow.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @ow.a9 %>
</p>

<%= link_to 'Edit', edit_ow_path(@ow) %> |
<%= link_to 'Back', ows_path %>
