<%= form_with(model: oz, local: true) do |form| %>
  <% if oz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oz.errors.count, "error") %> prohibited this oz from being saved:</h2>

      <ul>
      <% oz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :a1 %>
    <%= form.text_field :a1, id: :oz_a1 %>
  </div>

  <div class="field">
    <%= form.label :a2 %>
    <%= form.text_field :a2, id: :oz_a2 %>
  </div>

  <div class="field">
    <%= form.label :a3 %>
    <%= form.text_field :a3, id: :oz_a3 %>
  </div>

  <div class="field">
    <%= form.label :a4 %>
    <%= form.text_field :a4, id: :oz_a4 %>
  </div>

  <div class="field">
    <%= form.label :a5 %>
    <%= form.text_field :a5, id: :oz_a5 %>
  </div>

  <div class="field">
    <%= form.label :a6 %>
    <%= form.text_field :a6, id: :oz_a6 %>
  </div>

  <div class="field">
    <%= form.label :a7 %>
    <%= form.text_field :a7, id: :oz_a7 %>
  </div>

  <div class="field">
    <%= form.label :a8 %>
    <%= form.text_field :a8, id: :oz_a8 %>
  </div>

  <div class="field">
    <%= form.label :a9 %>
    <%= form.text_field :a9, id: :oz_a9 %>
  </div>

  <div class="field">
    <%= form.label :a10 %>
    <%= form.text_field :a10, id: :oz_a10 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
