<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @oz.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @oz.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @oz.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @oz.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @oz.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @oz.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @oz.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @oz.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @oz.a9 %>
</p>

<p>
  <strong>A10:</strong>
  <%= @oz.a10 %>
</p>

<%= link_to 'Edit', edit_oz_path(@oz) %> |
<%= link_to 'Back', ozs_path %>
