<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @joa.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @joa.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @joa.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @joa.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @joa.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @joa.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @joa.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @joa.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @joa.a9 %>
</p>

<p>
  <strong>A10:</strong>
  <%= @joa.a10 %>
</p>

<p>
  <strong>A11:</strong>
  <%= @joa.a11 %>
</p>

<p>
  <strong>A12:</strong>
  <%= @joa.a12 %>
</p>

<p>
  <strong>A13:</strong>
  <%= @joa.a13 %>
</p>

<p>
  <strong>A14:</strong>
  <%= @joa.a14 %>
</p>

<p>
  <strong>A15:</strong>
  <%= @joa.a15 %>
</p>

<p>
  <strong>A16:</strong>
  <%= @joa.a16 %>
</p>

<p>
  <strong>A17:</strong>
  <%= @joa.a17 %>
</p>

<p>
  <strong>A18:</strong>
  <%= @joa.a18 %>
</p>

<p>
  <strong>A19:</strong>
  <%= @joa.a19 %>
</p>

<p>
  <strong>A20:</strong>
  <%= @joa.a20 %>
</p>

<p>
  <strong>A21:</strong>
  <%= @joa.a21 %>
</p>

<p>
  <strong>A22:</strong>
  <%= @joa.a22 %>
</p>

<p>
  <strong>A23:</strong>
  <%= @joa.a23 %>
</p>

<p>
  <strong>A24:</strong>
  <%= @joa.a24 %>
</p>

<p>
  <strong>A25:</strong>
  <%= @joa.a25 %>
</p>

<%= link_to 'Edit', edit_joa_path(@joa) %> |
<%= link_to 'Back', joas_path %>
