<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @ot.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @ot.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @ot.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @ot.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @ot.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @ot.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @ot.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @ot.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @ot.a9 %>
</p>

<p>
  <strong>A10:</strong>
  <%= @ot.a10 %>
</p>

<p>
  <strong>A11:</strong>
  <%= @ot.a11 %>
</p>

<p>
  <strong>A12:</strong>
  <%= @ot.a12 %>
</p>

<p>
  <strong>A13:</strong>
  <%= @ot.a13 %>
</p>

<p>
  <strong>A14:</strong>
  <%= @ot.a14 %>
</p>

<p>
  <strong>A15:</strong>
  <%= @ot.a15 %>
</p>

<p>
  <strong>A16:</strong>
  <%= @ot.a16 %>
</p>

<p>
  <strong>A17:</strong>
  <%= @ot.a17 %>
</p>

<p>
  <strong>A18:</strong>
  <%= @ot.a18 %>
</p>

<p>
  <strong>A19:</strong>
  <%= @ot.a19 %>
</p>

<p>
  <strong>A20:</strong>
  <%= @ot.a20 %>
</p>

<p>
  <strong>A21:</strong>
  <%= @ot.a21 %>
</p>

<p>
  <strong>A22:</strong>
  <%= @ot.a22 %>
</p>

<p>
  <strong>A23:</strong>
  <%= @ot.a23 %>
</p>

<p>
  <strong>A24:</strong>
  <%= @ot.a24 %>
</p>

<p>
  <strong>A25:</strong>
  <%= @ot.a25 %>
</p>

<p>
  <strong>A26:</strong>
  <%= @ot.a26 %>
</p>

<p>
  <strong>A27:</strong>
  <%= @ot.a27 %>
</p>

<p>
  <strong>A28:</strong>
  <%= @ot.a28 %>
</p>

<p>
  <strong>A29:</strong>
  <%= @ot.a29 %>
</p>

<p>
  <strong>A30:</strong>
  <%= @ot.a30 %>
</p>

<p>
  <strong>A31:</strong>
  <%= @ot.a31 %>
</p>

<p>
  <strong>A32:</strong>
  <%= @ot.a32 %>
</p>

<p>
  <strong>A33:</strong>
  <%= @ot.a33 %>
</p>

<p>
  <strong>A34:</strong>
  <%= @ot.a34 %>
</p>

<p>
  <strong>A35:</strong>
  <%= @ot.a35 %>
</p>

<p>
  <strong>A36:</strong>
  <%= @ot.a36 %>
</p>

<p>
  <strong>A37:</strong>
  <%= @ot.a37 %>
</p>

<p>
  <strong>A38:</strong>
  <%= @ot.a38 %>
</p>

<p>
  <strong>A39:</strong>
  <%= @ot.a39 %>
</p>

<p>
  <strong>A40:</strong>
  <%= @ot.a40 %>
</p>

<p>
  <strong>A41:</strong>
  <%= @ot.a41 %>
</p>

<p>
  <strong>A42:</strong>
  <%= @ot.a42 %>
</p>

<p>
  <strong>A43:</strong>
  <%= @ot.a43 %>
</p>

<p>
  <strong>A44:</strong>
  <%= @ot.a44 %>
</p>

<p>
  <strong>A45:</strong>
  <%= @ot.a45 %>
</p>

<p>
  <strong>A46:</strong>
  <%= @ot.a46 %>
</p>

<p>
  <strong>A47:</strong>
  <%= @ot.a47 %>
</p>

<p>
  <strong>A48:</strong>
  <%= @ot.a48 %>
</p>

<p>
  <strong>A49:</strong>
  <%= @ot.a49 %>
</p>

<p>
  <strong>A50:</strong>
  <%= @ot.a50 %>
</p>

<p>
  <strong>A51:</strong>
  <%= @ot.a51 %>
</p>

<p>
  <strong>A52:</strong>
  <%= @ot.a52 %>
</p>

<p>
  <strong>A53:</strong>
  <%= @ot.a53 %>
</p>

<p>
  <strong>A54:</strong>
  <%= @ot.a54 %>
</p>

<p>
  <strong>A55:</strong>
  <%= @ot.a55 %>
</p>

<p>
  <strong>A56:</strong>
  <%= @ot.a56 %>
</p>

<p>
  <strong>A57:</strong>
  <%= @ot.a57 %>
</p>

<p>
  <strong>A58:</strong>
  <%= @ot.a58 %>
</p>

<p>
  <strong>A59:</strong>
  <%= @ot.a59 %>
</p>

<p>
  <strong>A60:</strong>
  <%= @ot.a60 %>
</p>

<p>
  <strong>A61:</strong>
  <%= @ot.a61 %>
</p>

<%= link_to 'Edit', edit_ot_path(@ot) %> |
<%= link_to 'Back', ots_path %>
