<%= form_with(model: bac, local: true) do |form| %>
  <% if bac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bac.errors.count, "error") %> prohibited this bac from being saved:</h2>

      <ul>
      <% bac.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :a1 %>
    <%= form.text_field :a1, id: :bac_a1 %>
  </div>

  <div class="field">
    <%= form.label :a2 %>
    <%= form.text_field :a2, id: :bac_a2 %>
  </div>

  <div class="field">
    <%= form.label :a3 %>
    <%= form.text_field :a3, id: :bac_a3 %>
  </div>

  <div class="field">
    <%= form.label :a4 %>
    <%= form.text_field :a4, id: :bac_a4 %>
  </div>

  <div class="field">
    <%= form.label :a5 %>
    <%= form.text_field :a5, id: :bac_a5 %>
  </div>

  <div class="field">
    <%= form.label :a6 %>
    <%= form.text_field :a6, id: :bac_a6 %>
  </div>

  <div class="field">
    <%= form.label :a7 %>
    <%= form.text_field :a7, id: :bac_a7 %>
  </div>

  <div class="field">
    <%= form.label :a8 %>
    <%= form.text_field :a8, id: :bac_a8 %>
  </div>

  <div class="field">
    <%= form.label :a9 %>
    <%= form.text_field :a9, id: :bac_a9 %>
  </div>

  <div class="field">
    <%= form.label :a10 %>
    <%= form.text_field :a10, id: :bac_a10 %>
  </div>

  <div class="field">
    <%= form.label :a11 %>
    <%= form.text_field :a11, id: :bac_a11 %>
  </div>

  <div class="field">
    <%= form.label :a12 %>
    <%= form.text_field :a12, id: :bac_a12 %>
  </div>

  <div class="field">
    <%= form.label :a13 %>
    <%= form.text_field :a13, id: :bac_a13 %>
  </div>

  <div class="field">
    <%= form.label :a14 %>
    <%= form.text_field :a14, id: :bac_a14 %>
  </div>

  <div class="field">
    <%= form.label :a15 %>
    <%= form.text_field :a15, id: :bac_a15 %>
  </div>

  <div class="field">
    <%= form.label :a16 %>
    <%= form.text_field :a16, id: :bac_a16 %>
  </div>

  <div class="field">
    <%= form.label :a17 %>
    <%= form.text_field :a17, id: :bac_a17 %>
  </div>

  <div class="field">
    <%= form.label :a18 %>
    <%= form.text_field :a18, id: :bac_a18 %>
  </div>

  <div class="field">
    <%= form.label :a19 %>
    <%= form.text_field :a19, id: :bac_a19 %>
  </div>

  <div class="field">
    <%= form.label :a20 %>
    <%= form.text_field :a20, id: :bac_a20 %>
  </div>

  <div class="field">
    <%= form.label :a21 %>
    <%= form.text_field :a21, id: :bac_a21 %>
  </div>

  <div class="field">
    <%= form.label :a22 %>
    <%= form.text_field :a22, id: :bac_a22 %>
  </div>

  <div class="field">
    <%= form.label :a23 %>
    <%= form.text_field :a23, id: :bac_a23 %>
  </div>

  <div class="field">
    <%= form.label :a24 %>
    <%= form.text_field :a24, id: :bac_a24 %>
  </div>

  <div class="field">
    <%= form.label :a25 %>
    <%= form.text_field :a25, id: :bac_a25 %>
  </div>

  <div class="field">
    <%= form.label :a26 %>
    <%= form.text_field :a26, id: :bac_a26 %>
  </div>

  <div class="field">
    <%= form.label :a27 %>
    <%= form.text_field :a27, id: :bac_a27 %>
  </div>

  <div class="field">
    <%= form.label :a28 %>
    <%= form.text_field :a28, id: :bac_a28 %>
  </div>

  <div class="field">
    <%= form.label :a29 %>
    <%= form.text_field :a29, id: :bac_a29 %>
  </div>

  <div class="field">
    <%= form.label :a30 %>
    <%= form.text_field :a30, id: :bac_a30 %>
  </div>

  <div class="field">
    <%= form.label :a31 %>
    <%= form.text_field :a31, id: :bac_a31 %>
  </div>

  <div class="field">
    <%= form.label :a32 %>
    <%= form.text_field :a32, id: :bac_a32 %>
  </div>

  <div class="field">
    <%= form.label :a33 %>
    <%= form.text_field :a33, id: :bac_a33 %>
  </div>

  <div class="field">
    <%= form.label :a34 %>
    <%= form.text_field :a34, id: :bac_a34 %>
  </div>

  <div class="field">
    <%= form.label :a35 %>
    <%= form.text_field :a35, id: :bac_a35 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
