<p id="notice"><%= notice %></p>

<h1>レース条件</h1>

<% a1_map = {

  "01" => "札幌",
  "02" => "函館",
  "03" => "福島",
  "04" =>"新潟",
  "05" =>"東京",
  "06" =>"中山",
  "07" =>"中京",
  "08" =>"京都",
  "09" =>"阪神",
  "10" =>"小倉",
  "21" =>"旭川",
  "22" =>"札幌",
  "23" =>"門別",
  "24" =>"函館",
  "25" =>"盛岡",
  "26" =>"水沢",
  "27" =>"上山",
  "28" =>"新潟",
  "29" =>"三条",
  "30" =>"足利",
  "31" =>"宇都",
  "32" =>"高崎",
  "33" =>"浦和",
  "34" =>"船橋",
  "35" =>"大井",
  "36" =>"川崎",
  "37" =>"金沢",
  "38" =>"笠松",
  "39" =>"名古",
  "40" =>"中京",
  "41" =>"園田",
  "42" =>"姫路",
  "43" =>"益田",
  "44" =>"福山",
  "45" =>"高知",
  "46" =>"佐賀",
  "47" =>"荒尾",
  "48" =>"中津",
  "61" =>"英国",
  "62" =>"愛国",
  "63" =>"仏国",
  "64" =>"伊国",
  "65" =>"独国",
  "66" =>"米国",
  "67" =>"加国",
  "68" =>"UAE",
  "69" =>"豪州",
  "70" =>"新国",
  "71" =>"香港",
  "72" =>"チリ",
  "73" =>"星国",
  "74" =>"典国",
  "75" =>"マカ",
  "76" =>"墺国",
  "77" =>"土国",
  "78" =>"華国",
  "79" =>"韓国",
}%>
<% a9_map = {
  "1" => "芝",
  "2" => "ダ",
  "3" => "障"
}%>

<% a10_map = {
  "1" => "右",
  "2" => "左",
  "3" => "直",
  "9" => "他",
}%>

<% a11_map = {
  "1" => "内",
  "2" => "外",
  "3" => "直ダ",
  "9" => "他",
}%>
<% a12_map = {
  "11" => "２歳",
  "12" => "３歳",
  "13" => "３歳以上",
  "14" => "４歳以上",
  "20" => "障害",
  "99" => "その他",

}%>
<% a13_map = {
  "04" => "４００万下",
  "05" => "５００万下",
  "08" => "８００万下",
  "09" => "９００万下",
  "10" => "１０００万下",
  "15" => "１５００万下",
  "16" => "１６００万下",
  "A1" => "新馬",
  "A2" => "未出走",
  "A3" => "未勝利",
  "OP" => "オープン",

}%>

<% a15_map = {
  "1" => "ハンデ",
  "2" => "別定",
  "3" => "馬齢",
  "4" => "定量",

}%>
<% a16_map = {
  "1" => "G1",
  "2" => "G2",
  "3" => "G3",
  "4" => "重賞",
  "5" => "特別",
  "6" => "L",
  "7" => "",
  "8" => "",
  "9" => "",
}%>

<% a20_map = {
  "1" => "A",
  "2" => "A1",
  "3" => "A2",
  "4" => "B",
  "5" => "C",
  "6" => "D",

}%>
<form method="GET" action="/bacs">
  <p>レース名:<input type="text" name ="race_name" /></p>
  <p>日付:<input type="text" name ="hiduke" /></p>
  <br />
  <input type ="submit" value="検索" />
  </form>
<input type=></input>
<table>
  <thead>
    <tr>
      <th>競馬場</th>
      <th>年</th>
      <th>回</th>
      <th>日</th>
      <th>R</th>
      <th>年月日</th>
      <th>発走時間</th>
      <th>距離</th>
      <th>馬場</th>
      <th>右左</th>
      <th>内外</th>
      <th>種別</th>
      <th>条件</th>
      <th>記号</th>
      <th>重量</th>
      <th>グレード</th>
      <th>レース名</th>
      <th>回数</th>
      <th>頭数</th>
      <th>コース</th>
      <th>開催区分</th>
      <th>レース名短縮</th>
      <th>レース名９</th>
      <th>データ区分</th>
      <th>１着賞金</th>
      <th>２着賞金</th>
      <th>３着賞金</th>
      <th>４着賞金</th>
      <th>５着賞金</th>
      <th>１着付加</th>
      <th>２着付加</th>
      <th>馬券フラグ</th>
      <th>win5</th>
      <th>予備</th>
      <th>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bacs.each do |bac| %>
      <tr>
        <td><%= a1_map[ bac.a1 ] %></td>
        <td><%= bac.a2 %></td>
        <td><%= bac.a3 %></td>
        <td><%= bac.a4 %></td>
        <td><%= bac.a5 %></td>
        <td><%= bac.a6 %></td>
        <td><%= bac.a7 %></td>
        <td><%= bac.a8 %></td>
        <td><%= a9_map[bac.a9] %></td>
        <td><%= a10_map[bac.a10] %></td>
        <td><%= a11_map[bac.a11] %></td>
        <td><%= a12_map[bac.a12] %></td>
        <td><%= a13_map[bac.a13] %></td>
        <td><%= bac.a14 %></td>
        <td><%= a15_map[bac.a15] %></td>
        <td><%= a16_map[bac.a16] %></td>
        <td><%= bac.a17 %></td>
        <td><%= bac.a18 %></td>
        <td><%= bac.a19 %></td>
        <td><%= a20_map[bac.a20] %></td>
        <td><%= bac.a21 %></td>
        <td><%= bac.a22 %></td>
        <td><%= bac.a23 %></td>
        <td><%= bac.a24 %></td>
        <td><%= bac.a25 %></td>
        <td><%= bac.a26 %></td>
        <td><%= bac.a27 %></td>
        <td><%= bac.a28 %></td>
        <td><%= bac.a29 %></td>
        <td><%= bac.a30 %></td>
        <td><%= bac.a31 %></td>
        <td><%= bac.a32 %></td>
        <td><%= bac.a33 %></td>
        <td><%= bac.a34 %></td>
        <td><%= bac.a35 %></td>
        <td><%= link_to 'Show', bac %></td>
        <td><%= link_to 'Edit', edit_bac_path(bac) %></td>
        <td><%= link_to 'Destroy', bac, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr>
  </tbody>
</table>
<% @kyis.each do |kyi| %>
  <%= kyi.a8 %>
<% end %>

<br>

<%= link_to 'New Bac', new_bac_path %>
